oauth2-proxy:
  config:
    clientID: "oauth2-proxy"
  image:
    repository: "quay.io/oauth2-proxy/oauth2-proxy"
    # appVersion is used by default
    tag: "v7.9.0"
    pullPolicy: "IfNotPresent"
#client:
#  oauth2-proxy:
#    clientSecret:
#      secretName: oauth2-proxy-secrets
#      secretKey: client_secret
#    redirectHost: oauth
#    redirectDomain: example.com
